#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    keymap {
        compatible = "zmk,keymap";
        display-name = "BASE";

        JassonLayout {
            bindings = <
&kp ESC      &kp N1  &kp N2            &kp N3
&kp TAB      &kp Q   &kp W             &kp CAPSLOCK
&kp A        &kp S   &kp D             &kp LEFT_SHIFT
&kp Z        &kp X   &kp LEFT_CONTROL  &kp GRAVE
&bootloader
            >;

            sensor-bindings = <&inc_dec_kp C_VOL_UP C_VOL_DN>;
        };
    };
};
